
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fav-color:#71A9F7;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}
.slider{
    pointer-events: none;
}

*{  
    max-width: 100vw;
    margin: 0px;
    font-size: 20px;
    box-sizing: border-box;
    font-family:Do Hyeon, Roboto, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    cursor: pointer;
    scrollbar-width: 0px;
    -webkit-tap-highlight-color: transparent;
}

#nav-bar{
    /* background-color: var(--fav-color); */
    position: fixed;
    width: 100vw;
    min-height: 50px;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-right: 20px;
    z-index: 100;
    background-color: white;
}

#logo{
    /* background-color: var(--fav-color); */
    min-width: 180px;
    font-weight: 700;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}

#nav-links{
    /* background-color: var(--fav-color); */
    display: flex;
    align-items: center;
    width: 85vw;
    justify-content: flex-end;
}

.links{
    height: 5.5vh;
    position: relative;
    /* background-color: yellow; */
    background-color: white;
    color: black;
    min-width: 110px;
    min-height: 30px;
    width: 7.5vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
/* .slider{
    background-color: white;
} */

/* div{
    background-color: white;
} */

#slider1, #slider2, #slider3, #slider4{
    position: absolute;
    background-color: white;
    left: 0px;
    width: 0%;
    height: 100%;
    mix-blend-mode: difference;
    /* background-color: white; */
    border-radius: 7px;
    transition: all 0.2s ease;
    z-index: 0;
}

#slider .active{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    /* background-color: white; */
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    z-index: 0;
}

#hamburger{
    display: none;
}

@media (max-width: 900px) {
    #nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        min-height: 50px;
        height: 10vh;
    }
    #nav-links{
        display: none;
    }
    #hamburger{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 5vw;
        color: white;
        height: 5vh;
        line-height: 5px;
        min-width: 45px;
        min-height: 45px;
        transition: all 0.2s ease;
        border-radius: 4px;
        z-index: 3;
    }
    svg{
        overflow: hidden;
    }
    #panel{
        z-index: 10;
        position: absolute;
        width: 200px;
        height: 60vh;
        top: 150%;
        transform: translateX(80%);
        /* filter: invert(); */
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.2s ease;
        border-radius: 5px;
    }
    .panel-links{
        text-decoration: none;
    }
    #cross{
        display: none;
    }
    .tag{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        color: white;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
}
#home{
    width: 100%;
    height: 100vh;
    background-color: tomato;
}
.page{
    width: 100%;
    height: 100vh;
}
#about{
    background-color: turquoise;
}
#projects{
    background-color: #f7567c;
}
#contact{
    background-color: #9883e5;
}